* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.header {
    background-color: #202020;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.headerMobile {
    display: none;
}

#header {
    overflow: hidden;
}

.leftNavbar>a {
    text-decoration: none;
    color: white;
}

.rightNavbar>a {
    text-decoration: none;
    font-size: 13px;
    color: #707070;
}

.navbar {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftNavbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.rightNavbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contentScroll {
    display: flex;
    overflow-y: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

/*Important dattebayo*/
.contentScroll::-webkit-scrollbar {
    display: none;
}

.image {
    width: 100%;
}

.contentScrollImage {
    padding: 100px;
    padding-inline: 2vw;
    width: auto;
    height: 70vh;
    z-index: -1;
    transition: 2s;
    overflow-y: none;
}

.scrollButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 100px;
}

.scrollButtons button {
    background-color: #202020;
    border: 0px;
}

.scrollButtons img {
    cursor: pointer;
}

.knowledge {
    display: flex;
    flex-direction: column;
}

.knowledgeKey {
    display: flex;
    align-items: center;
    color: white;
    padding-left: 70vw;
    gap: 50px;
}

#para {
    padding: 10px;
    border: 1px solid white;
    border-radius: 50px;
}

.knowledgeContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.knowledgeContentLeft {
    padding: 10px;
    min-height: 32.23rem;
    max-width: 46.23rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    color: white;
}

.knowledgeContentLeft p {
    color: #424242;
}

.knowledgeContentLeft h2 {
    font-size: 3rem;
}

.knowledgeContentRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 32.23rem;
    max-width: 46.23rem;
}

.quizBox {
    box-shadow: 6px 6px 0px #202020;
    border-radius: 20px;
    height: 22rem;
    margin-inline: 40px;
    color: white;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
}

.quizQuestion {
    height: 10rem;
    width: 80%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    background-color: #202020;
}

.quizOption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}

.quizOption button {
    display: flex;
    width: 80px;
    padding: 20px;
    border-radius: 20px;
    border: 0px;
    background-image: linear-gradient(to right, #dc0916 30%, #f41fd6 100%);
    color: white;
    cursor: pointer;
    transition: 300ms;
}

.quizOption button:hover {
    background-image: linear-gradient(to right, #f41fd6 30%, #dc0916 100%);
}

.quizOption button:hover::after {
    content: ">>";
}

.insight {
    padding-inline: 40px;
    margin-bottom: 100px;
}

.insight a {
    text-decoration: underline;
    color: #a5a5a5;
}

.insight h2 {
    color: white;
    font-weight: 100;
    font-size: 34px;
}

.insightHead {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 63px;
    border-bottom: 1px solid gray;
}

.insightContent {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.insightContent img {
    box-shadow: 2px 4px 8px black inset;
    width: auto;
    height: 50vh;
    border-bottom: transparent;
    position: relative;
    overflow-y: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.insightImg button {
    position: absolute;
    z-index: 1;
    width: 14vw;
    height: 40px;
    border-radius: 30px;
    background: transparent;
    margin: 20px;
    border: 0.9px solid white;
}

.insightImg h2 {
    position: absolute;
    margin-top: -40px;
    color: white;
    font-size: 1.5rem;
}

.insightContent button:hover {
    background-image: linear-gradient(to right, #f41fd6 30%, #dc0916 100%);
    color: white;
}

.insightImg a {
    display: none;
    z-index: 2;
    background: linear-gradient(to right, #f41fd6 10%, #dc0916 14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.parallaxImage {
    background-image: url("https://s7ap1.scene7.com/is/image/TCSCOMprod/cloud-journey-new:Large?wid=1260&hei=768&dpr=off");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 200px;
}

.parallaxImage h2 {
    font-size: 8rem;
    background: linear-gradient(to right, #ffc708 4%, #faa613 8%, #f50e20 20%, #ee3376 40%, #ba20a9 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.parallaxImage img {
    width: 40vw;
}

.tcsDifference {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    font-size: 20px;
}

.differenceImage {
    background-image: url("https://s7ap1.scene7.com/is/image/TCSCOMprod/freelancer-is-sitting-in-a-coffee-shop-and-having-conference-call-with-client:Large?wid=1116&hei=680&dpr=off");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 80vw;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.differenceImage button {
    position: absolute;
    z-index: 1;
    width: 14vw;
    height: 40px;
    border-radius: 30px;
    background: transparent;
    margin-top: 20px;
    border: 0.9px solid white;
}

.differenceImage button:hover {
    background-image: linear-gradient(to right, #f41fd6 30%, #dc0916 100%);
    color: white;
}

.differenceImage a {
    text-decoration: none;
    color: white;
}

.differenceContent {
    margin: 30px;
}

.whoWeAre {
    background-color: white;
}

.wwaContainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 76px;
}

.wwaContainer img {
    width: 74vw;
    height: auto;
}

.wwaCard {
    background-color: white;
    width: 60vw;
    margin-left: -15vw;
    z-index: 2;
    padding: 70px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.wwaCard p {
    color: #424242;
}

.wwaCard a {
    text-decoration: none;
    background: linear-gradient(to right, #f41fd6 10%, #dc0916 14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wwaGetToKnow {
    display: flex;
    align-items: center;
    gap: 14px;
}

.beliefInAction {
    padding: 30px;
    overflow-y: auto;
    background-color: white;
    display: flex;
    gap: 20px;
}

.beliefInActionHeader {
    background-color: white;
    font-size: 2.0rem;
    font-weight: 100;
    padding-top: 100px;
    padding-left: 30px;
}

.beliefInAction::-webkit-scrollbar {
    display: none;
}

.beliefInActionCard {}

.beliefInActionCard img {
    height: 60vh;
    filter: brightness(0.6);
}

.beliefInActionCardContent {
    padding: 10px;
    top: -30%;
    position: relative;
    color: white;
}

.beliefInActionCardContent a {
    text-decoration: none;
    background: linear-gradient(to right, #f41fd6 10%, #dc0916 14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tcsBusiness {
    background-color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.tcsBusinessImage img {
    width: 74vw;
    height: auto;
}

.tcsBusinessContent {
    background-color: white;
    width: 60vw;
    z-index: 2;
    padding: 70px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.tcsBusinessContent p {
    color: #424242;
}

.tcsBusinessContent a {
    text-decoration: none;
    background: linear-gradient(to right, #f41fd6 10%, #dc0916 14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1200px) {
    .quizBox {
        margin-inline: 5px;
    }
}

@media screen and (max-width: 1000px) {
    .knowledgeContentLeft {
        max-width: 37.23rem;
    }

    .differenceImage {
        height: 70vh;
    }

    .header {
        display: none;
    }

    .headerMobile {
        display: block;
        background-color: #202020;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .navbar {
        justify-content: space-between;
    }

    .headerMobileRight {
        gap: 20px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 900px) {
    .knowledgeContentLeft {
        max-width: 32.23rem;
    }

    .knowledgeContentLeft h2 {
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 850px) {
    .contentScrollImage {
        padding: 0px;
        width: 80vw;
        height: auto;
    }

    .knowledgeContent {
        flex-direction: column;
        gap: 50px;
    }

    .knowledgeContentLeft {
        min-height: 0px;

    }

    .knowledgeContentRight {
        min-height: 0px;
        padding: 0px;
    }

    .wwaContainer {
        flex-direction: column;
    }

    .tcsBusiness {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 600px) {
    .parallaxImage h2 {
        font-size: 4rem;
    }

    .tcsDifference {
        align-items: center;
    }

    .differenceImage button {
        width: 27vw;
    }

    .tcsBusinessContent {
        width: 74vw;
    }
}